/*.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 200px;
    margin-bottom: 200px; 
}

.THIS .spins::after {
   
    width: 100%;
    margin-top: 200px;
    text-align: center;
    top: calc(0% + 3em);
    font-weight: bold;
} */