.THIS{
    height: 600px;
}
.THIS .div { 
    display: block;
  }

.THIS .container {
  height: 50px;
  position: relative;
}

/* .THIS .center {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */

  .THIS .center {
    transform: translate(40%, -20%);
  }

hr.THIS{
  border-top: 1px solid red;
}

.THIS .lable{
  width: 120px;
}
.THIS .lbl{
  width: 150px;
}


.THIS .data{
  white-space: normal; /* css-3 */
}