.THIS {
}
.THIS.success{
    position: relative;
    display: none;
}
.THIS.failed{
    position: relative;
    display: none;
}
.THIS label.uiLabel {
    padding-right: 12px;
    height: 10px;
}

.THIS .fileName{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}