.THIS label {
    font-weight: bold;
}
.THIS .no-height {
    display: none;
}
.THIS .nowrap {
    white-space: nowrap;
}
.THIS .label-hidden > label {
    display: none;
}
.THIS .pill-item-size,.THIS .input-container {
    width: 100%;
    padding-left: 4px;
}
.THIS .input-no-border{
    border : transparent;
}
.THIS .input-no-border:focus{
    outline: transparent;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.THIS .slds-pill__action {
    border: 0px solid !important;
}
.THIS .slds-button_icon-bare, .THIS .slds-button--icon-bare {
    line-height: 0px !important;
    padding-right: 10px;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 13px;
}