.modalHeaderGradient{
    background-image:repeating-linear-gradient(45deg, #c64540 0 20px, #be3d38 20px 40px);
    color:white;
    font-weight:700;
}

.modalHeaderText{
    justify-content:center; 
}


.modalSiteImpactedList{
    height:100px;
    overflow-y:auto;
}

.modalMessagePreview{
    height:100px;
    overflow-y:auto;
    border:2px solid #ba0517;
}

 
.modalSiteImpactedList::-webkit-scrollbar-track,.modalMessagePreview::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.modalSiteImpactedList::-webkit-scrollbar,.modalMessagePreview::-webkit-scrollbar{
  width: 6px;
  height: 6px;
	background-color: #F5F5F5;
}

.modalSiteImpactedList::-webkit-scrollbar-thumb, .modalMessagePreview::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d1cdcd;
}

.modalSiteImpactedList  h4{
    white-space: nowrap;
}

lightning-datatable {
    word-break: break-word; 
}
  
.Active {
    background-color: blue;    
 }