.THIS .greenBox {
    background-color: rgb(122,184,0);
}
.THIS .grayBox {
    background-color: rgb(198,198,188);
}
/* SDT-30864 */
.THIS .overrideText{
    margin: 0.7% 8.5%;
    font-size: 11px ;
    letter-spacing: 0.1px ;
    font-weight: 500 ;
    background: #F9F9F9 ;
}
/* SDT-31583 :START*/
.THIS .warning-box{
    display: flex;
    padding: 0px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
}
.THIS .warning-text{
    color: rgb(221, 2, 2);
    border: 2px solid black;
    font-size: 12px;
    background: rgb(252 225 0);
    padding: 1%;
    letter-spacing: 0.25px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 5px;
    max-width: 70%;
    width: auto;
}
.THIS .warning-text-list{
    list-style-type: disc;
    margin-left: 1.5em;
}
.THIS .warning-text-single{
    list-style-type: none;
    margin-left: 1em;
    margin-right: 2em;
}
.THIS .warning-text-heading{
    font-weight: 700;
    color: black;
}