.THIS .redicon{
    background-color : red !important;
}
.THIS .greenicon{
    background-color : green !important;
}
.THIS .slds-truncate {
    white-space: normal;
}
.THIS .setHeight{
    margin-top: -1vh!important;
    margin-bottom: -1vh!important;
}
.THIS .casemsg
{
    max-width:75%;
    text-align: left;
}
.THIS .NTEmsg
{
    max-width:355px;
    text-align: left;
}
.THIS .btnwdh{
    width: 164px;
    margin-bottom: 5px;
    white-space: nowrap!important;
}

.THIS .btnviewcasewdh{
    width: 164px;
    margin-bottom: 5px;
}


.THIS .btnwdhs{
    width: 164px;
    margin-bottom: 5px;
}

.THIS btnMargin
{
    margin-right:4px!important;
    width: 164px!important;
}
/*rahul 8548*/
.THIS .caseMsg
{
    white-space: pre-wrap!important;
}

.THIS .btnActions
{
    text-align: center!important;    
}
.THIS .btnInfo
{
    text-align: center!important;    
}
.THIS .spl:before{
    content: '';
    width: 100%;
    height: 1em;
    display: inline-block;
}
.THIS .redFont{
    color : red !important;
}
.THIS .spin{
    position : fixed;
}